@using System.Security.Claims
@model MasterOk.Models.Search.SearchViewModel
@{
    ViewData["Title"] = "Поиск";
    var role = User.FindFirstValue(ClaimsIdentity.DefaultRoleClaimType);
    switch (role)
    {
        case null: Layout = "~/Views/Shared/_Layout.cshtml"; break;
        case "client": Layout = "~/Views/Shared/Client_Layout.cshtml"; break;
    };
}

<h1>Результаты поиска</h1>

@if (Model.Products.Count() > 0)
{
    <div class="row">
        <h1>Товары</h1>
        @foreach (var item in Model.Products)
        {
            <div class="col-md-3 pb-4">
                <div class="card">
                    @foreach (var items in item.NameImages)
                    {
                        <img class="card-img-top" src="@Url.Action("GetImage", "Home", new {id = items.Id, typeObject = "product"})" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">@Html.ActionLink(item.TitleProduct, "Product", new{productId = item.Id})</h5>
                    </div>
                    <div class="card-footer">
                        <a asp-action="AddProductCart" asp-controller="Cart" asp-route-id="@item.Id" class="btn btn-primary">В корзину</a>
                    </div>
                </div>
            </div>
        }
    </div>
}


@if (Model.SubCategories.Count() > 0)
{
    <div class="row">
        <h1>Подкатегории</h1>
        @foreach (var item in Model.SubCategories)
        {
            <div class="col-md-3 pb-4">
                <div class="card">
                    @foreach (var items in item.NameImages)
                    {
                        <img class="card-img-top" src="@Url.Action("GetImage", "Home", new {id = items.Id, typeObject = "subCategory"})" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">@Html.ActionLink(item.TitleSubCategory,"ShowProducts", new{subCategoriesId= item.Id})</h5>
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (Model.Categories.Count() > 0)
{
    <div class="row">
        <h1>Категории</h1>
        @foreach (var item in Model.Categories)
        {
            <div class="col-md-3 pb-4">
                <div class="card">
                    @foreach (var items in item.NameImages)
                    {
                        <img class="card-img-top" src="@Url.Action("GetImage", "Home", new {id = items.Id, typeObject="category"})" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">@Html.ActionLink(item.TitleCategory, "ShowSubCategories", new{categoriesId = item.Id})</h5>
                    </div>
                </div>
            </div>
        }
    </div>
}
