@model IEnumerable<MasterOk.Models.ModelDataBase.Product>
@using MasterOk.Models.ModelDataBase;
@{
    ViewData["Title"] = "ShowProducts";
    SubCategory subCategory = ViewBag.SubCategory;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index">Товары</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a asp-action="ShowSubCategories" asp-route-categoriesId="@subCategory.CategoryId">@subCategory.Category.TitleCategory</a>
        </li>
    </ol>
</nav>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 pb-4">
            <div class="card">
                @foreach (var items in item.NameImages)
                {
                    <img class="card-img-top" src="@Url.Action("GetImage", "Home", new {id = items.Id, typeObject = "product"})" />
                }
                <div class="card-body">
                    <h5 class="card-title">@Html.ActionLink(item.TitleProduct, "Product", new{productId = item.Id})</h5>
                    @if (item.CountStoreProduct > 0)
                    {
                        <a asp-action="AddProductCart" asp-controller="Cart" asp-route-id="@item.Id" class="btn btn-primary">В корзину</a>
                    }
                    else
                    {
                        <label>Временно нет в наличии</label>
                    }
                </div>
            </div>
        </div>
    }
</div>