@model MasterOk.Models.ModelDataBase.SubCategory

@{
    ViewData["Title"] = "Удаление подкатегории";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Вы действительного хотите удалить подкатегорию? Удаление подкатегории приведет к удалению связанных с нею товаров</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TitleSubCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TitleSubCategory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Id)
        </dd>
    </dl>
    <div class="form-group mb-3">
        <div id="outFile" class="row">
            @if (Model.NameImages.Count() > 0)
            {
                foreach (var item in Model.NameImages)
                {
                    <div class="col-md-2 d-grid gap-2" id="@item.Id">
                        <img class="img-thumbnail" src="@Url.Action("GetImage","SubCategories", new{id = item.Id})" />
                    </div>
                }
            }
            else
            {
                <label>Нет прикрипленных изображений</label>
            }
        </div>
    </div>
    <div class="form-group mb-3">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn btn-danger" />
            <a asp-action="Index" role="button" class="btn btn-secondary">Вернуться к списку</a>
        </form>
    </div>
</div>
