@model IEnumerable<MasterOk.Models.ModelDataBase.ShipToStore>
@using MasterOk.Models.ModelDataBase;
@using System.Security.Claims
@{
    ViewData["Title"] = "Delete";
    var role = User.FindFirstValue(ClaimsIdentity.DefaultRoleClaimType);
    switch (role)
    {
        case "admin": Layout = "~/Views/Shared/Admin_Layout.cshtml"; break;
        case "marketplacemanager": Layout = "~/Views/Shared/MarketManager_Layout.cshtml"; break;
    };
    DocShipToStore docShipToStore = ViewBag.docShip;
}

<h1>Вы действительно хотите удалить данную отгрузку? Удаление отгрузки приведдет к удалению связанных данных</h1>
<h3>Номер отгрузки: @docShipToStore.Id  Дата отгрузки: @docShipToStore.DateShip</h3>
<hr />
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product.TitleProduct)
                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.CountShipProduct)
                </th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.TitleProduct)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountShipProduct)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="form-group mb-3">
    <form asp-action="Delete">
        <input type="hidden" asp-for="@docShipToStore.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" role="button" class="btn btn-secondary">Вернуться к списку</a>
    </form>
</div>
