@model IEnumerable<MasterOk.Models.ModelDataBase.ShipToStore>

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Edit</h1>

<form asp-action="Edit">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product.TitleProduct)
                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.CountShipProduct)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    @Html.HiddenFor(modetlItem => item.Id)
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.TitleProduct)
                    </td>
                    <td>
                        <input type="number" name="countShip" value="@item.CountShipProduct">
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-docShipToStoreId="@item.DocShipToStoreId"
                       asp-route-productId="@item.ProductId">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Сохранить" />
</form>