@model IEnumerable<MasterOk.Models.ModelDataBase.ShipToStore>
@using MasterOk.Models.ModelDataBase;
@using System.Security.Claims
@{
    ViewData["Title"] = "Редактирование отгрузки";
    var role = User.FindFirstValue(ClaimsIdentity.DefaultRoleClaimType);
    switch (role)
    {
        case "admin": Layout = "~/Views/Shared/Admin_Layout.cshtml"; break;
        case "marketplacemanager": Layout = "~/Views/Shared/MarketManager_Layout.cshtml"; break;
    };
    DocShipToStore docShipToStore = ViewBag.docShip;
}

<h1>Редактирование отгрузки</h1>
<hr />
<h3>Номер отгрузки: @docShipToStore.Id  Дата отгрузки: @docShipToStore.DateShip</h3>
<form asp-action="Edit">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.TitleProduct)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model=>model.CountShipProduct)
                    </th>
                    <th>Функции</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.TitleProduct)
                        </td>
                        <td>
                            <input type="number" name="countShip" value="@item.CountShipProduct">
                        </td>
                        <td>
                            <a asp-action="DeleteItem" asp-route-id="@item.Id">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
        <a asp-action="Index" role="button" class="btn btn-secondary">Вернуться к списку</a>
    </div>
</form>