@using System.Security.Claims
@model MasterOk.Models.ModelDataBase.ProductCheck

@{
    ViewData["Title"] = "Удаление заказа";
    var role = User.FindFirstValue(ClaimsIdentity.DefaultRoleClaimType);
    switch (role)
    {
        case "admin": Layout = "~/Views/Shared/Admin_Layout.cshtml"; break;
        case "clientmanager": Layout = "~/Views/Shared/ClientManager_Layout.cshtml"; break;
    };
}

<h1>Вы действительно хотите удалить заказ?</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeSale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTimeSale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StateOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StateOrder.TitleState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.FirstLastNameClient)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstLastNameStaff)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PayMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PayMethod.TitlePayMethod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryMethod.TitleDeliveryMethod)
        </dd>
    </dl>

    <div class="form-group mb-3">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn btn-danger" />
            <a asp-action="Index" role="button" class="btn btn-secondary">Вернуться к списку</a>
        </form>
    </div>
</div>
