@model IEnumerable<MasterOk.Models.ModelDataBase.ProductCheck>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=> model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryMethod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem=>item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTimeSale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateOrder.TitleState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.FirstLastNameClient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstLastNameStaff)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayMethod.TitlePayMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryMethod.TitleDeliveryMethod)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
