@using System.Security.Claims
@model MasterOk.Models.ModelDataBase.Product

@{
    ViewData["Title"] = "Информации о товаре";
    var role = User.FindFirstValue(ClaimsIdentity.DefaultRoleClaimType);
    switch (role)
    {
        case "admin": Layout = "~/Views/Shared/Admin_Layout.cshtml"; break;
        case "marketplacemanager": Layout = "~/Views/Shared/MarketManager_Layout.cshtml"; break;
    };
}

<h1>Информации о товаре</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TitleProduct)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TitleProduct)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionProduct)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescriptionProduct)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warranty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warranty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubCategory.TitleSubCategory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CountStoreProduct)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountStoreProduct)
        </dd>
    </dl>
</div>
<div class="form-group mb-3">
    <div id="outFile" class="row">
        @if (Model.NameImages.Count() > 0)
        {
            foreach (var item in Model.NameImages)
            {
                <div class="col-md-2 d-grid gap-2" id="@item.Id">
                    <img class="img-thumbnail" src="@Url.Action("GetImage","Products", new{id = item.Id})" />
                </div>
            }
        }
        else
        {
            <label>Нет прикрипленных изображений</label>
        }
    </div>
</div>
<div class="form-group mb-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" role="button" class="btn btn-primary">Редактировать</a>
    <a asp-action="Index" role="button" class="btn btn-secondary">Вернуться к списку</a>
</div>
