@model IEnumerable<MasterOk.Models.ModelDataBase.Product>

@{
    ViewData["Title"] = "Товары";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Товары</h1>
<hr />
<p>
    <a asp-action="Create" role="button" class="btn btn-primary">Добавить новый товар</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TitleProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warranty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategory)
            </th>
            <th>Функции</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Warranty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategory.TitleSubCategory)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" role="button" class="btn btn-secondary">Редактировать</a>
                    <a asp-action="Details" asp-route-id="@item.Id" role="button" class="btn btn-info">Информация</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" role="button" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
