@model IEnumerable<MasterOk.Models.ModelDataBase.ProductSold>
@{
    ViewData["Title"] = "Позиции в заказе";
    Layout = "~/Views/Shared/Client_Layout.cshtml";
}

<h1>Позиции в заказе</h1>
<hr />
<p>
    <a asp-action="History" role="button"class="btn btn-primary">Вернуться назад</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.ProductCheckId)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Product.TitleProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.CountSold)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.PriceSold)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.TotalSold)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCheckId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.TitleProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountSold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceSold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.TotalSold)
                </td>
            </tr>
        }
    </tbody>
</table>
