@using System.Security.Claims
@model MasterOk.Models.ModelDataBase.User

@{
    ViewData["Title"] = "Index";
    var role = User.FindFirstValue(ClaimsIdentity.DefaultRoleClaimType);
    switch (role)
    {
        case "admin": Layout = "~/Views/Shared/Admin_Layout.cshtml"; break;
        case "marketplacemanager": Layout = "~/Views/Shared/MarketManager_Layout.cshtml"; break;
        case "clientmanager": Layout = "~/Views/Shared/ClientManager_Layout.cshtml"; break;
    };
}

<h1>Добро пожаловать в панель управления!</h1>
<hr />
<div>
    <h4>Вы вошли под учетной записью :</h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoginUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoginUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstLastNameStaff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstLastNameStaff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberPhoneStaff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberPhoneStaff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role.TitleRole)
        </dd>
    </dl>
</div>
