@using System.Security.Claims
@model MasterOk.Models.ModelDataBase.ProductCheck

@{
    ViewData["Title"] = "CreateOrder";
    var role = User.FindFirstValue(ClaimsIdentity.DefaultRoleClaimType);
    switch (role)
    {
        case null: Layout = "~/Views/Shared/_Layout.cshtml"; break;
        case "client": Layout = "~/Views/Shared/Client_Layout.cshtml"; break;
    };
}

<h1>Информация о заказе</h1>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeSale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeSale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateOrder.TitleState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayMethod.TitlePayMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryMethod.TitleDeliveryMethod)
        </dd>
    </dl>
</div>
