@model IEnumerable<MasterOk.Models.ModelDataBase.CartClient>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                <label>В заказ</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceCartProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountCartProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCartProduct)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <form asp-action="CreateOrder">
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <input type="checkbox" name="check" value="@item.Product.Id">
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Product.TitleProduct)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.PriceCartProduct)
                </td>
                <td>
                    <input type="number" id="@item.Product.Id" name="@item.Product.Id" value="@item.CountCartProduct" onchange="changeCountProduct(this.id);">
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.TotalCartProduct)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Product.Id">Удалить</a>
                </td>
            </tr>
            }
            <input type="submit" />
        </form>
    </tbody>
</table>

<div class="row">
    <div class="col">
        <label>Итого: @Model.Sum(p=>p.TotalCartProduct)</label>
    </div>
</div>

<script type="text/javascript">
    function changeCountProduct(id){
        var valueId = document.getElementById(id).value;

        const formData = "id="+id+"&valueId="+valueId;

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/Cart/Change", false);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send(formData);

        if(xhr.status ==200){
            document.location.reload();
        }
    }
</script>