@model MasterOk.Models.ModelAuthorization.CartRegisterModel;
@using MasterOk.Models.ModelAuthorization;
@using MasterOk.Models.ModelDataBase;
@{
    CartClient cartClient = new CartClient();
}

@{
    ViewData["Title"] = "Index";
}

@if (Model.CartClients.Count() > 0)
{
    <form asp-action="CreateOrder" onsubmit="return checkCheckBoxProduct()">
        <div class="row">
            <div class="col-md-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                В заказ
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => cartClient.Product)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => cartClient.PriceCartProduct)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => cartClient.CountCartProduct)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => cartClient.TotalCartProduct)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CartClients)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name="check" value="@item.Product.Id">
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.TitleProduct)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PriceCartProduct)
                                </td>
                                <td>
                                    <input type="number" id="@item.Product.Id" name="@item.Product.Id" value="@item.CountCartProduct" onchange="changeCountProduct(this.id);">
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalCartProduct)
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.Product.Id">Удалить</a>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="4">
                                <label>Итого: @Model.CartClients.Sum(p=>p.TotalCartProduct)</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <div class="d-flex flex-column justify-content-center mb-3">
                    <div class="p-2">
                        <p class="text-center">Способ оплаты</p>
                    </div>
                    <div class="p-2">
                        @Html.DropDownList("PayMethodId", new SelectList(ViewBag.PayMethod, "Id", "TitlePayMethod"))
                    </div>
                    <div class="p-2">
                        <p class="text-center">Способ доставки</p>
                    </div>
                    <div class="p-2">
                        @Html.DropDownList("DeliveryMethodId", new SelectList(ViewBag.DeliveryMethod, "Id", "TitleDeliveryMethod"))
                    </div>
                    <div class="p-2">
                        <p class="text-center">Контактные данные</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <h1>Ваша корзина пуста!</h1>
    @Html.ActionLink("Перейти к выбору товара","Index", "Home")
}

@section scripts{

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<script type="text/javascript">
    function changeCountProduct(id){
        var valueId = document.getElementById(id).value;

        const formData = "id="+id+"&valueId="+valueId;

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/Cart/Change", false);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send(formData);

        if(xhr.status ==200){
            document.location.reload(true);
        }
    }

    function checkCheckBoxProduct(){
        var checkBoxs = document.querySelectorAll("input[type=checkbox]:checked").length;

        if(checkBoxs > 0){
            return true;
        }
        else{
            alert("Выберите товар для оформления заказа!")
            return false;
        }
    }
</script>