@model IEnumerable<MasterOk.Models.ModelDataBase.CartClient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceCartProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountCartProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCartProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.TitleProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceCartProduct)
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.CountCartProduct, htmlAttributes: new {@name="name"})
                    @Html.DisplayFor(modelItem => item.CountCartProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCartProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col">
        <label>Итого: @Model.Sum(p=>p.TotalCartProduct)</label>
    </div>
</div>